<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <!-- stylesheets -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/font-awesome/css/all.css">
    <link rel="stylesheet" href="/animate/libs/animate.css">
    <link rel="stylesheet" href="stylesheets/STYLE_general.css">

    <% if(loggedIn) { %>
    <!-- stylesheets UserPanel -->
    <link rel="stylesheet" href="stylesheets/STYLE_userPanel.css">
    <% } %>

    <% if(provider) { %>
    <link rel="stylesheet" href="stylesheets/STYLE_providerPanel.css">
    <% } %>

    <% if(admin) { %>
    <!-- stylesheets AdminPanel -->
    <link rel="stylesheet" href="stylesheets/STYLE_adminPanel.css">
    <% } %>

    <!-- nodeJS scripts -->
    <script type="text/javascript" src="/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/popper.js/umd/popper.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/crypto-js/crypto-js.js"></script>
    <script type="text/javascript" src="/wowjs/wow.js"></script>
    <script type="text/javascript">$(() => { new WOW().init(); })</script>

    <!-- scripts -->
    <script type="text/javascript" src="javascripts/shop.js"></script>
    <script type="text/javascript" src="javascripts/userForms.js"></script>
    <script type="text/javascript" src="javascripts/produtDetails.js"></script>
    <script type="text/javascript" src="javascripts/aboutus.js"></script>

    <% if(loggedIn) {%>
    <!-- scripts UserPanel -->
    <script type="text/javascript" src="javascripts/userPanel.js"></script>
    <% } %>

    <% if(provider) {%>
    <!-- scripts UserPanel -->
    <script type="text/javascript" src="javascripts/providerPanel.js"></script>
    <% } %>

    <% if(admin) {%>
    <!-- scripts UserPanel -->
    <script type="text/javascript" src="javascripts/adminPanel.js"></script>
    <% } %>

    <title>CreativeMinds - Deine Sharingplattform für Graphictablets</title>
</head>
<body>
    <!-- section: navigation -->
    <% include partials/SECTION_navigation.ejs %>
    <% if(admin) { %>
    <!-- section: adminPanel -->
    <% include partials/SECTION_adminPanel.ejs %>
    <% } else if(provider) { %>
    <!-- section: providerPanel -->
    <% include partials/SECTION_providerPanel.ejs %>
    <% } else { %>
    <!-- section: teaserBox -->
    <% include partials/SECTION_teaserBox.ejs %>
    <% } %>
    <!-- section: howItWorks -->
    <% include partials/SECTION_howItWorks.ejs %>
    <!-- section: shopList -->
    <% include partials/SECTION_shopList.ejs %>
    <!-- section: productDetails -->
    <% include partials/SECTION_productDetails.ejs %>
    <!-- section: cart -->
    <% include partials/SECTION_cart.ejs %>
    <!-- section: aboutUs -->
    <% include partials/SECTION_aboutUs.ejs %>
    <!-- section: contact -->
    <% include partials/SECTION_contactForm.ejs %>
    <!-- section: footer -->
    <% include partials/SECTION_footer.ejs %>

    <% if(!loggedIn) { %>
    <!-- modal: login/registerForm -->
        <% include partials/MODAL_userForm.ejs %>
    <% } %>

</body>
</html>