#productView {
    font-family: 'Roboto', sans-serif;

}

#upperRow {
    background-color: lightgrey;
    height: 450px;
    width: 450px;

}

#lowerRow {
    margin: 20px 0;
    background-color: #78ff4c;
}



#sidebarRight {
    min-width: 10px;
    max-width: 755px;
    float: right;
}


.wrapper {
    display: flex;
    align-items: stretch;
}
