/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

.underline {
    border-bottom:2px solid #143e3d;
}

h2 {
    color: #143e3d;
}

.btn-greenery {
    background-color: #256f6e;
    color: #88d6d6;
    transition: all .2s linear;
}

.btn-greenery:hover {
    color: #cfeeee;
    background-color: #38a0a1;
    transition: all .2s linear;
}

/* style: navMenu */

#navigation a, #navigation i {
    color: #88d6d6;
    transition: color .5s;
}

#navigation a:hover, #navigation i:hover {
    color: #cfeeee;
    transition: color .5s;
}

#navMenu .nav-link {
    font-size: 22px;
    padding: 10px 20px 0 20px;
}

#navSearch .nav-link {
    padding: 10px 0 0 0;
}

#navSearch {
    font-size: 20px;
}

#navSearch input {
    opacity: 0;
    max-width:0;
    transition: all .25s linear;
}

#navSearch .nav-link:hover input {
    max-width: 200px;
    transition: all .25s linear;
    opacity: 1;
    background: #256f6e;
    border: 1px #143e3d solid;
    color: #000;
}

#navSearch input:hover {
    background: #88d6d6 !important;
    transition: background-color .5s;
}

#navSearch input:focus {
    display:block;
    max-width: 200px;
    opacity: 1;
    background: #88d6d6 !important;
    border: 1px #143e3d solid;
    color: #000;
}

#navSearch ::placeholder {
    color: #143e3d;
}

#navIcons {
    font-size: 20px;
}

#navIcons li {
    padding: 10px 0 0 60px;
}

#navMenu {
    padding: 0 0 0 30px;
}

#navMenu li {
    padding: 0 40px 0 0;
}

.navbar-brand img {
    height:50px;
    width: auto;
}

.navbar {
    border-bottom: 2px solid #1c5657;
    background: #143e3d;
    color: #88d6d6;
}

#navigation .form-control {
    border-radius: 20px;
}

/* style teaser */

.carousel-indicators {
    display: none;
}

.carousel-caption {
    background-color: rgba(37,111,110,1) !important;
    color: #88d6d6;
}

.carousel-caption .caption-text {
    padding: 0 0 0 40px;
}

.carousel-caption .caption-text h2 {
    padding: 10px 0 20px 0;
    color: #88d6d6;
}

.carousel-control-next-icon {
    background-image: url("../images/chevron-right.svg");
    height:46px;
    width: 100%;
    margin: 0 0 166px 0;
    opacity: .7 !important;
}

.carousel-control-prev-icon {
    background-image: url("../images/chevron-left.svg");
    height:46px;
    width: 100%;
    margin: 0 0 166px 0;
    opacity: .7 !important;
}

.carousel-caption {
    background:rgba(25, 25, 25, .5);
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    height:250px;
    text-align: left;
}

.caption-text {
    margin: 0 0 0 30px;
    max-width: 1300px;
}

.caption-text p {
    font-size: 20px;
}

/* style responsive teaser image */
@media only screen and (min-width: 769px) {
    #teaserBox img {
        min-height: 800px;
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
    }
}
@media only screen and (min-width: 993px) {
    #teaserBox img {
        min-height: 770px;
        object-fit: none; /* Do not scale the image */
        object-position: center; /* Center the image within the element */
        width: 100%;
    }
}
@media only screen and (min-width: 1201px) {
    #teaserBox img {
        max-height: 800px;
    }
}

/* style panelside */

#panelHeader {
    margin:40px 0;
}

#panelHeader .underline {
    width:250px;
    margin:0 auto;
}

#panelMain {
    background: #256f6e;
    margin:30px 0;
    padding:20px 0;
    color: #88d6d6;
}

#panelMain h5 {
    font-weight: bold;
}

#panelMain .panel-text {
    padding: 20px 10px 0 16px;
    font-size: 18px;
}

#panelMain .container {
    margin:0 auto;
    text-align:center;
}

#panelMain .panel {
    min-height:350px;
}

.panel-thumb {
    margin: 20px 0 0 0;
}

.panel-thumb img {
    max-height:150px;
}

.panel-title {
    margin: 40px 0 0 0;
}

#panelFooter {
    text-align:center;
    margin: 40px 0;
}

/* shop wrapper, productList */

#shop {
    margin: 50px 0 0 0;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}

#shop .article-image img {
    max-height:100px;
}

#shop .article-title {
    margin: 10px 0 0 0;
}