<div id="modalEdit" class="modal animated fadeIn" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body user">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="email-uInput">Email-Adresse</label>
                        <input type="email" class="form-control" id="email-uInput"
                               placeholder="Email-Adresse eingeben">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="password-uInput">Passwort</label>
                        <input type="password" class="form-control" id="password-uInput"
                               placeholder="Passwort eingeben">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="nickname-uInput">Nickname</label>
                        <input type="text" class="form-control" id="nickname-uInput"
                               placeholder="Nicknamen eingeben">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="forename-uInput">Vorname</label>
                        <input type="text" class="form-control" id="forename-uInput"
                               placeholder="Vorname eingeben">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="surname-uInput">Nachname</label>
                        <input type="text" class="form-control" id="surname-uInput" placeholder="Nachname eingeben">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="date_of_birth-uInput">Geburtstag</label>
                        <input type="date" class="form-control" id="date_of_birth-uInput"
                               placeholder="Geburtsdatum angeben">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="street-uInput">Straße</label>
                        <input type="text" class="form-control" id="street-uInput"
                               placeholder="Aktuelle Anschrift">
                    </div>
                    <div class="form-group col-md-2">
                        <label for="housenumber-uInput">Nr.</label>
                        <input type="text" class="form-control" id="housenumber-uInput" placeholder="Nr.">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="telefone-uInput">Telefon</label>
                        <input type="text" class="form-control" id="telefone-uInput"
                               placeholder="Telefon mit Vorwahl">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label for="postcode-uInput">Postleitzahl</label>
                        <input type="text" class="form-control" id="postcode-uInput"
                               placeholder="Postleitzahl">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="town-uInput">Wohnort</label>
                        <input type="text" class="form-control" id="town-uInput" placeholder="Ortschaft">
                    </div>
                    <div class="form-group col-md-5">
                        <label for="mobile-uInput">Mobile</label>
                        <input type="text" class="form-control" id="mobile-uInput"
                               placeholder="Handynummer">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-greenery modal-action">Aktualisieren</button>
                <button type="button" class="btn btn-greenery" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>