<section id="modalPops">
    <!-- Login/Register Modal -->
    <div id="userForm" class="modal animated fadeIn bd-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <div class="col-6">
                        <h5 class="modal-title active" id="login-HeadForm">Login</h5>
                    </div>
                    <div class="col-6">
                        <h5 class="modal-title" id="register-HeadForm">Registrieren</h5>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row" id="login-Form">
                            <div class="col-12">
                                <div class="d-none" id="login-Alert">
                                    <div id="login-Message"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-3"></div>
                            <div class="col-sm-12 col-lg-6">
                                <div class="validationForm">
                                    <div class="form-row">
                                        <div class="col-12 mb-2">
                                            <label for="login-Email">Ihre E-Mail-Adresse:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                </div>
                                                <input type="text" class="form-control" id="login-Email"
                                                       placeholder="E-Mail Adresse" autocomplete="off" max="80">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-12 mb-2">
                                            <label for="login-Password">Ihr Passwort:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-key"></i>
                                                        </span>
                                                </div>
                                                <input type="password" class="form-control" id="login-Password"
                                                       placeholder="Passwort" autocomplete="off" max="16">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-4 mt-4 text-center">
                                        <button class="btn btn-greenery" id="login-Submit">Einloggen</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-3"></div>
                            <div class="row pl-5 pr-5 pt-2" id="login-FormText">
                                <p>Sollten Sie bereits einen Account besitzen, können Sie sich einfach einloggen, um
                                    alle Funktionen der
                                    Plattform nutzen zu können.</p>
                            </div>
                        </div>
                        <div class="row d-none p-4" id="register-Form">
                            <div class="col-12">
                                <div class="d-none" id="register-Alert">
                                    <div id="register-Message"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="validationForm">
                                    <div class="form-row">
                                        <div class="col-6 mb-2 pr-4">
                                            <label for="register-Forename">Ihr Vorname:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-user"></i>
                                                        </span>
                                                </div>
                                                <input type="text" class="form-control" id="register-Forename"
                                                       placeholder="Vorname" autocomplete="off" max="80">
                                            </div>
                                            <p id="register-Invalid-Forename" class="text-danger d-none small"></p>
                                        </div>
                                        <div class="col-6 mb-2 pl-4">
                                            <label for="register-Surname">Ihr Nachname:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-user-tag"></i>
                                                        </span>
                                                </div>
                                                <input type="text" class="form-control" id="register-Surname"
                                                       placeholder="Nachname" autocomplete="off" max="80">
                                            </div>
                                            <p id="register-Invalid-Surname"
                                               class="text-danger d-none small"></p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6 mb-2 pr-4">
                                            <label for="register-Email">Ihre E-Mail:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                </div>
                                                <input type="text" class="form-control" id="register-Email"
                                                       placeholder="E-Mail Adresse" autocomplete="off" max="80">
                                            </div>
                                            <p id="register-Invalid-Email" class="text-danger d-none small"></p>
                                        </div>
                                        <div class="col-6 mb-2 pl-4">
                                            <label for="register-Repeat-Email">Wiederholen Sie Ihre E-Mail:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                </div>
                                                <input type="text" class="form-control" id="register-Repeat-Email"
                                                       placeholder="E-Mail Adresse wiederholen" autocomplete="off"
                                                       max="80">
                                            </div>
                                            <p id="register-Invalid-Repeat-Email"
                                               class="text-danger d-none small"></p>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-6 mb-2 pr-4">
                                            <label for="register-Password">Ihr Passwort:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-key"></i>
                                                        </span>
                                                </div>
                                                <input type="password" class="form-control" id="register-Password"
                                                       placeholder="Passwort" autocomplete="off" max="16">
                                            </div>
                                            <p id="register-Invalid-Password"
                                               class="invalidEntry text-danger d-none small">
                                            </p>
                                        </div>
                                        <div class="col-6 mb-2 pl-4">
                                            <label for="register-Repeat-Password">Wiederholen Sie Ihr Passwort:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="fa fa-key"></i>
                                                        </span>
                                                </div>
                                                <input type="password" class="form-control"
                                                       id="register-Repeat-Password"
                                                       placeholder="Passwort wiederholen" autocomplete="off" max="16">
                                            </div>
                                            <p id="register-Invalid-Repeat-Password"
                                               class="invalidEntry text-danger d-none small"></p>
                                        </div>
                                    </div>
                                    <div class="col-12 mb-4 mt-4 text-center">
                                        <button class="btn btn-greenery" id="register-Submit">Benutzerkonto anlegen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>