<div id="modalDelete" class="modal animated fadeIn" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-greenery modal-action">Löschen</button>
                <button type="button" class="btn btn-greenery" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>