<div id="modalCreate" class="modal animated fadeIn" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body product">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pName-cInput">Produktname:</label>
                        <input type="text" class="form-control" id="pName-cInput"
                               placeholder="Produktnamen eingeben">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="pDescription-cInput">Beschreibung:</label>
                        <input type="text" class="form-control" id="pDescription-cInput" placeholder="Produktbeschreibung eingeben">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pPrice-cInput">Preis:</label>
                        <input type="number" class="form-control" id="pPrice-cInput"
                               placeholder="1337">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_cat-Input">Produkttyp:</label>
                        <select id="id_cat-Input">
                            <option value="2">Pen-Display</option>
                            <option value="1">Pen-Computer</option>
                            <option value="0">Grafiktablett</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="pLength-cInput">Länge:</label>
                        <input type="text" class="form-control" id="pLength-cInput"
                               placeholder="39,9cm">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pWidth-cInput">Breite:</label>
                        <input type="text" class="form-control" id="pWidth-cInput" placeholder="1,6cm">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pHeight-cInput">Höhe:</label>
                        <input type="text" class="form-control" id="pHeight-cInput" placeholder="23,3cm">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="pDisplaySize-cInput">Displaygröße:</label>
                        <input type="text" class="form-control" id="pDisplaySize-cInput"
                               placeholder="13,3 Zoll">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pResolution-cInput">Auflösung:</label>
                        <input type="text" class="form-control" id="pResolution-cInput" placeholder="2560x1440">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pAdvancedCtrls-cInput">Druckpunkte:</label>
                        <input type="text" class="form-control" id="pAdvancedCtrls-cInput" placeholder="8118 Druckpunkte">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="pProdSupl">Zubehörmöglichkeiten:</label>
                        <input type="number" class="form-control" id="pProdSupl-cInput"
                               placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pProcessor">Prozessor:</label>
                        <input type="text" class="form-control" id="pProcessor-cInput" placeholder="i7 der i1 Generation">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pGraphicsCard-cInput">Grafikkarte:</label>
                        <input type="text" class="form-control" id="pGraphicsCard-cInput" placeholder="Nvidia AMD GTRadeon 2019x">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="pMemory-cInput">Festplattenspeicher:</label>
                        <input type="text" class="form-control" id="pMemory-cInput"
                               placeholder="512 GB SSD">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pRam-cInput">Arbeitsspeicher:</label>
                        <input type="text" class="form-control" id="pRam-cInput" placeholder="16GB DDR3">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pPic-cInput">Bild-Name:</label>
                        <input type="text" class="form-control" id="pPic-cInput" placeholder="wacom_tablet.png">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-greenery modal-action">Erstellen</button>
                <button type="button" class="btn btn-greenery" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>