<div id="modalEdit" class="modal animated fadeIn" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body product">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pName-uInput">Produktname:</label>
                        <input type="text" class="form-control" id="pName-uInput"
                               placeholder="Produktnamen eingeben">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="pDescription-uInput">Beschreibung:</label>
                        <input type="text" class="form-control" id="pDescription-uInput" placeholder="Produktbeschreibung eingeben">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="pPrice-uInput">Preis:</label>
                        <input type="number" class="form-control" id="pPrice-uInput"
                               placeholder="1337">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_cat-Input">Produkttyp:</label>
                        <select id="id_cat-Input">
                            <option value="2">Pen-Display</option>
                            <option value="1">Pen-Computer</option>
                            <option value="0">Grafiktablett</option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="pLength-uInput">Länge:</label>
                        <input type="text" class="form-control" id="pLength-uInput"
                               placeholder="39,9cm">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pWidth-uInput">Breite:</label>
                        <input type="text" class="form-control" id="pWidth-uInput" placeholder="1,6cm">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pHeight-uInput">Höhe:</label>
                        <input type="text" class="form-control" id="pHeight-uInput" placeholder="23,3cm">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="pDisplaySize-uInput">Displaygröße:</label>
                        <input type="text" class="form-control" id="pDisplaySize-uInput"
                               placeholder="13,3 Zoll">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pResolution-uInput">Auflösung:</label>
                        <input type="text" class="form-control" id="pResolution-uInput" placeholder="2560x1440">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pAdvancedCtrls-uInput">Druckpunkte:</label>
                        <input type="text" class="form-control" id="pAdvancedCtrls-uInput" placeholder="8118 Druckpunkte">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="pProdSupl">Zubehörmöglichkeiten:</label>
                        <input type="number" class="form-control" id="pProdSupl-uInput"
                               placeholder="3">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pProcessor">Prozessor:</label>
                        <input type="text" class="form-control" id="pProcessor-uInput" placeholder="i7 der i1 Generation">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pGraphicsCard-uInput">Grafikkarte:</label>
                        <input type="text" class="form-control" id="pGraphicsCard-uInput" placeholder="Nvidia AMD GTRadeon 2019x">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="pMemory-uInput">Festplattenspeicher:</label>
                        <input type="text" class="form-control" id="pMemory-uInput"
                               placeholder="512 GB SSD">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pRam-uInput">Arbeitsspeicher:</label>
                        <input type="text" class="form-control" id="pRam-uInput" placeholder="16GB DDR3">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="pPic-uInput">Bild-Name:</label>
                        <input type="text" class="form-control" id="pPic-uInput" placeholder="wacom_tablet.png">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-greenery modal-action">Aktualisieren</button>
                <button type="button" class="btn btn-greenery" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>