<div id="modalCreate" class="modal animated fadeIn" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body user">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="forename-cInput">Vorname</label>
                        <input type="text" class="form-control" id="forename-cInput"
                               placeholder="Vorname eingeben">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="surname-cInput">Nachname</label>
                        <input type="text" class="form-control" id="surname-cInput" placeholder="Nachname eingeben">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="email-cInput">Email-Adresse</label>
                        <input type="email" class="form-control" id="email-cInput"
                               placeholder="Email-Adresse eingeben">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="password-cInput">Passwort</label>
                        <input type="password" class="form-control" id="password-cInput"
                               placeholder="Passwort eingeben">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-greenery modal-action">Erstellen</button>
                <button type="button" class="btn btn-greenery" data-dismiss="modal">Abbrechen</button>
            </div>
        </div>
    </div>
</div>