<ul id="navIcons" class="navbar-nav mr-5">
    <li class="nav-item" id="cartNavButton">
        <i class="fas fa-shopping-cart"></i>
    </li>
    <% if(!loggedIn) { %>
    <li class="nav-item" id="MainMenu_Login">
        <i class="fas fa-user"></i>
    </li>
    <% } else { %>
    <li class="nav-item" id="wishlistNavButton">
        <i class="fas fa-heart"></i>
    </li>
    <li class="nav-item dropdown show" id="MainMenu_UserPanel">
        <i class="fas fa-user-cog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
        <div class="dropdown-menu dropdown-menu-right userPanel">
            <a class="dropdown-item" href="#userPanel">Kundenkonto</a>
            <a class="dropdown-item" id="MainMenu_Logout">Ausloggen</a>
        </div>
    </li>
    <% } %>
</ul>