<section id="cart">
    <div class="container">
        <div class="row text-center" id="cartIcons">
            <div class="col-3">
                <i class="fas fa-shopping-cart active"></i>
            </div>
            <div class="col-3">
                <i class="fas fa-user"></i>
            </div>
            <div class="col-3">
                <i class="fas fa-truck"></i>
            </div>
            <div class="col-3">
                <i class="far fa-check-circle"></i>
            </div>
        </div>
        <div class="underline"></div>
        <div class="row text-center" id="cart-Product">
            <div class="col-3">
                <i style="font-size: 10em;" class="fa fa-sad-cry"></i>
            </div>
            <div class="col-6">
                <p>Leider kein Artikel im Warenkorb... :(</p>
            </div>
            <div class="col-3">
            </div>
        </div>
    </div>
</section>