<footer class="footer" id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-5" id="footer-Links">
                <span id="aboutUs-Footer">Über Uns</span>
                <span id="partner-Footer">Unsere Partner</span>
                <span id="faq-Footer">FAQ</span>
            </div>
            <div id="footer-Newsletter" class="col-12 col-md-5">
                <label class="d-block" for="NewsletterMail">Newsletter bestellen</label>
                <input name="E-mail" id="NewsletterMail" placeholder="E-Mail Adresse">
                <button id="mailButton" class="btn"> ></button>
            </div>
            <div class="col-12 col-md-2" id="footer-SocialMedia">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    </div>
</footer>