<section id="teaserBox">
    <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIndicators" data-slide-to="1"></li>
            <li data-target="#carouselIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 img-fluid img-slider" src="images/teaser_Image3.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <div class="caption-text">
                        <h2>Wacom Pen Computer</h2>
                        <p>Haben Sie sich schon die neuen Pen Computer von Wacom angesehen?</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid img-slider" src="images/teaser_Image1.png" alt="First slide">
                <div class="carousel-caption">
                    <div class="caption-text">
                        <h2>MobileStudio Pro16</h2>
                        <p>Hohe Qualität, neue Modelle. Betrachten Sie noch heute die neusten Modelle der Wacom Mobile Studio Pro16-Reihe!</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 img-fluid img-slider" src="images/teaser_Image2.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <div class="caption-text">
                        <h2>XP-Pen Artist Displays</h2>
                        <p>Neue Produkte, neue Möglichkeiten. Entdecken Sie noch heute die Möglichkeiten einer neuen Welt.</p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>