<div id="navigation">
    <nav class="navbar fixed-top navbar-expand-xl">
        <a class="navbar-brand" href="#"><img src="images/logo_cminds.png" /></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navMenu" class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" id="menu_Grafiktabletts" href="#">Grafiktablett</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="menu_Pen-Displays" href="#">Pen-Displays</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="menu_Pen-Computer" href="#">Pen-Computer</a>
                </li>
            </ul>
            <ul id="navSearch" class="navbar-nav">
                <li class="nav-link">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" id="navSearchInput" type="search" placeholder="Nach Produkt suchen..." aria-label="Search">
                        <i class="fas fa-search"></i>
                    </form>
                </li>
            </ul>
            <% include navigation_navIcons.ejs %>
        </div>
    </nav>
</div>