<section id="aboutus">
    <div class="container">
        <div id="aboutHead" class="row">
            <div class="col-12 creativeMinds-About">
                <h3 class="d-inline-block"><i class="fas fa-users"></i> Über uns</h3>
            </div>
            <div class="col-12 d-none wacom-About">
                <h3 class="d-inline-block"><i class="fas fa-users"></i> Wacom</h3>
            </div>
            <div class="col-12 d-none huion-About">
                <h3 class="d-inline-block"><i class="fas fa-users"></i> Huion</h3>
            </div>
            <div class="col-12 d-none xppen-About">
                <h3 class="d-inline-block"><i class="fas fa-users"></i> XP-Pen</h3>
            </div>
            <div class="col-12 d-none gaomon-About">
                <h3 class="d-inline-block"><i class="fas fa-users"></i> Gaomon</h3>
            </div>
            <div class="col-12 d-none thm-About">
                <h3 class="d-inline-block"><i class="fas fa-users"></i> T H M</h3>
            </div>
        </div>
        <div class="underline"></div>
        <div class="row" id="aboutBody">
            <div id="aboutText" class="col-md-6">
                <div class="creativeMinds-About">
                    <h4>" Grafiktabletts ersetzen Stift und Papier "</h4>
                    <p>Für dieses Prinzip leben wir seit Juli 2018 mit unserem Unternehmen.
                        Bestehend aus kreativen Menschen wissen wir, wie wichtig ein gutes Werkzeug ist,
                        um seiner Kreativität Ausdruck zu verleihen</p>
                </div>
                <div class="wacom-About d-none">
                    <h4>" We dream of a world alive with creativity "</h4>
                    <p>Creativity has always been at the heart of human development. It has shaped our thinking and
                        inspired our imaginations. We are proud of the role we have played in applying digital
                        technologies to creativity. We are part of a generation that is creating powerful new tools of
                        connectivity and expression that influence every aspect of the human experience.</p>
                </div>
                <div class="huion-About d-none">
                    <h4>" Welcome to Huion "</h4>
                    <p>We adhere to the principle of equality and mutual benefit. We are welcoming all business partners
                    to cooperate with us, and we are looking forward to every opportunity for joint growth and mutual success.</p>
                </div>
                <div class="xppen-About d-none">
                    <h4>" Professionalism, Responsiveness, Loyalty, Green Technology "</h4>
                    <p>
                        XP-Pen-a professional and reliable supplier of graphics tablets,pen display monitors, stylus
                        pens and more digital graphical products.
                    </p>
                </div>
                <div class="gaomon-About d-none">
                    <h4>" What can we do for you? "</h4>
                    <p>
                        GAOMON TECHNOLOGY CORPORATION  is a Chinese high-tech enterprise that is known for independently
                        researching and developing core technology such as animation products and handwritten input
                        digitizer products. GAOMON's main product line includes the USB Pen Tablet, Wireless Pen Tablet,
                        Signature Pad, Pen Tablet Monitor and LED Tracing Board.
                    </p>
                </div>
                <div class="thm-About d-none">
                    <h4>" Motivation, Qualität, Agilität und Vielfalt "</h4>
                    <p>
                        Die Hochschule hat ihre Wurzeln in der Mitte Hessens und handelt wie ihre Partner in einem
                        überregionalen und internationalen Umfeld. Im Mittelpunkt unseres Handelns stehen eine gute
                        Ausbildung der Studierenden, Forschung, Transfer und Weiterbildung.
                    </p>
                </div>
            </div>
            <div id="aboutImage" class="col-md-6 text-center">
                <div class="creativeMinds-About">
                    <img class="img-thumbnail" src="images/provider/creativeMinds-logo.png">
                </div>
                <div class="wacom-About d-none">
                    <img class="img-thumbnail" src="images/provider/wacom-logo.png">
                </div>
                <div class="huion-About d-none">
                    <img class="img-thumbnail" src="images/provider/huion.png">
                </div>
                <div class="xppen-About d-none">
                    <img class="img-thumbnail" src="images/provider/xp-pen-logo.png">
                </div>
                <div class="gaomon-About d-none">
                    <img class="img-thumbnail" src="images/provider/gaomon.png">
                </div>
                <div class="thm-About d-none">
                    <img class="img-thumbnail" src="images/provider/thm-logo.svg">
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div id="firm" class="row text-center">
            <div class="col-2">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="col-2">
                <img class="creativeMinds-About img-thumbnail" src="images/provider/creativeMinds-logo.png">
            </div>
            <div class="col-2">
                <img class="wacom-About img-thumbnail" src="images/provider/wacom-logo.png">
            </div>
            <div class="col-2">
                <img class="huion-About img-thumbnail" src="images/provider/huion.png">
            </div>
            <div class="col-2">
                <img class="xppen-About img-thumbnail" src="images/provider/xp-pen-logo.png">
            </div>
            <div class="col-2 d-none">
                <img class="gaomon-About img-thumbnail" src="images/provider/gaomon.png">
            </div>
            <div class="col-2 d-none">
                <img class="thm-About img-thumbnail" src="images/provider/thm-logo.svg">
            </div>
            <div class="col-2">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</section>