<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3><i class="fa fa-comments"></i>Kontakt</h3>
            </div>
            <div class="underline"></div>
        </div>
        <div class="d-none" id="contact-Alert"></div>
        <div id="contact-Form">
            <div class="row">
                <div class="col-sm-12 col-lg-5">
                    <label for="contact-MessageBox"></label>
                    <textarea id="contact-MessageBox" type="text" name="message" class="form-control"
                              placeholder="Was möchten Sie uns mitteilen?"></textarea>
                    <button id="contact-Submit" class="btn btn-greenery">Abschicken</button>
                </div>
                <div class="col-sm-12 col-lg-7">
                    <label>
                        <input type="radio" name="appellation" id="contactMr" value="mr" checked> Herr
                    </label>
                    <label>
                        <input type="radio" name="appellation" id="contactMrs" value="mrs"> Frau
                    </label>
                    <label class="d-block" for="contactName">Vorname<span>*</span>:</label>
                    <input id="contactName" type="text" name="forename" class="form-control"
                           placeholder="Bitte geben Sie Ihren Vornamen ein.">
                    <label class="d-block" for="contactLastname">Nachname<span>*</span>:</label>
                    <input id="contactLastname" type="text" name="surname" class="form-control"
                           placeholder="Bitte geben Sie Ihren Nachnamen ein.">
                    <label class="d-block" for="contactEmail">E-Mail<span>*</span>:</label>
                    <input id="contactEmail" type="text" name="email" class="form-control"
                           placeholder="Bitte geben Sie Ihre E-Mail-Adresse an.">
                    <label class="d-block" for="contactTel">Telefon:</label>
                    <input id="contactTel" type="text" name="phone" class="form-control"
                           placeholder="Bitte geben Sie Ihre Telefonnummer an.">
                    <div class="float-right small">
                        <span>*</span> Pflichtfeld
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>