<section id="productDetails" class="d-none">
    <div class="wrapper">
        <div id="article-Head" class="container">
            <div class="row" id="article-Head-Row">
                <div class="col-sm-12 col-lg-4 text-center" id="article-Image">
                    <img src="images/shopImages/gt156hd.jpg" class="img-thumbnail" />
                    <div id="article-Rating">
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <span class="far fa-star"></span>
                        <span class="far fa-star"></span>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8">
                    <div  id="article-Description">
                        <h4>Dummy Article Title</h4>
                        <div class="underline"></div>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                            ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        </p>
                    </div>
                    <div class="col-12 text-right" id="article-Navigation">
                        <button id="articlePrevious" class="btn btn-greenery">Vorheriger Artikel</button>
                        <button id="articleNext" class="btn btn-greenery">Nächster Artikel</button>
                    </div>
                </div>
            </div>
            <div class="row" id="article-Body">
                <div class="col-sm-12 col-lg-4">
                    <div id="article-NavMenu">
                        <ul class="list-unstyled">
                            <li id="article-Ratings">
                                <span class="articleCat" id="ratings-Article"><i class="fa fa-star"></i> Bewertungen</span>
                            </li>
                            <li id="article-TechDetails">
                                <span class="articleCat"><i class="fas fa-toolbox "></i> Technische Details</span>
                            </li>
                            <li id="article-Utils">
                                <span class="articleCat"><i class="fa fa-tag"></i> Zubehör</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-8" id="article-Details">
                    <div id="article-Ratings-Listed" class="d-none">
                        <h5>Kundenrezensionen zum Artikel:</h5>
                        <div class="article-Rating">
                            <div class="article-Rating-Amount">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="far fa-star"></span>
                                <span class="far fa-star"></span>
                            </div>
                            <div class="article-Rating-Description">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                        <div class="article-Rating">
                            <div class="article-Rating-Amount">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="far fa-star"></span>
                                <span class="far fa-star"></span>
                            </div>
                            <div class="article-Rating-Description">
                                <p>
                                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                                    ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                                    dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="article-TechDetails-Listed" class="">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Länge</th>
                                <th scope="col">Breite</th>
                                <th scope="col">Display</th>
                                <th scope="col">CPU</th>
                                <th scope="col">GPU</th>
                                <th scope="col">Festplatte</th>
                                <th scope="col">RAM</th>
                                <th scope="col">Druckpunkte</th>
                            </tr>
                            </thead>
                            <tbody id="productTechInfo">
                                <!-- render product information here -->
                            </tbody>
                        </table>
                        <!-- productTechDetails -->
                    </div>
                    <div id="article-Utils-Listed" class="d-none">
                        <!-- Placeholder -->
                    </div>
                </div>
            </div>
        </div>
        <nav id="sidebar">
            <div class="sidebar-header text-center">
                <h4>Artikel mieten:</h4>
                <div id="productPrice">
                    <h5>DUMMY€/mtl</h5>
                    <p>inkl. MwSt., zzgl. Versandkosten</p>
                </div>
            </div>
            <div id="productRentTime" class="text-center">
                <h5>Ihr Mietzeitraum:</h5>
                <div class="rent-Time">
                    <p class="rent-Week d-inline-block active">Woche(n)</p>
                    <p class="rent-Month d-inline-block">Monat(e)</p>
                </div>
                <div class="rent-WLength">
                    <p class="week-one d-inline-block active">1</p>
                    <p class="week-two d-inline-block">2</p>
                    <p class="week-three d-inline-block">3</p>
                    <p class="week-four d-inline-block">4</p>
                </div>
                <div class="rent-MLength d-none">
                    <p class="month-one d-inline-block">1</p>
                    <p class="month-two d-inline-block">3</p>
                    <p class="month-three d-inline-block">6</p>
                    <p class="month-four d-inline-block">12</p>
                </div>
                <div class="underline"></div>
            </div>
            <div id="rent-Amount" class="text-center">
                <span>Menge: </span>
                <input type="number" class="form-control" placeholder="1">
            </div>
            <div id="rent-Buttons">
                <div id="rent-Button-Item">
                    <button class="btn btn-greenery btn-lg" id="rent-Item"><i class="fa fa-shopping-cart"></i> in den Mietkorb</button>
                </div>
                <div id="wish-Button-Item">
                    <button class="btn btn-greenery btn-lg" id="wishList-Item"><i class="fa fa-heart"></i> auf die Wunschliste</button>
                </div>
            </div>
        </nav>
    </div>
</section>