<section id="adminPanel">
    <div class="container">
        <div class="row panelHead">
            <div class="col-6 panelTitle">
                <h4><i class="fas fa-user-tie"></i> Administration</h4>
                <div class="underline"></div>
            </div>
            <div class="col-6">
                <ul class="nav float-right">
                    <li class="nav-item">
                        <a class="nav-link">Nutzerliste</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row panelBody d-none" id="admin_Home">
            <div class="col-6">
                test
            </div>
            <div class="col-6">
                test
            </div>
            <div class="col-6">
                test
            </div>
            <div class="col-6">
                test
            </div>
        </div>
        <div class="row panelBody" id="admin_User">
            <div class="col-12">
                <div class="col-12">
                    <div class="d-none" id="userList-Alert">
                        <button type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div id="userList-Message"></div>
                    </div>
                </div>
                <table class="table table-hover text-center" id="userListTable">
                    <thead id="admin_UserList">
                    <tr>
                        <th scope="col" class="w-10">ID</th>
                        <th scope="col" class="w-15">Vorname</th>
                        <th scope="col" class="w-15">Nachname</th>
                        <th scope="col" class="w-40">Email</th>
                        <th scope="col" class="w-20">Werkzeuge</th>
                    </tr>
                    </thead>
                    <!-- render : userList -->
                </table>
            </div>
            <div class="col-2">
            </div>
            <div class="col-8">
                <nav id="listFooter" aria-label="paginator">
                    <ul class="pagination justify-content-center" id="listPagination">
                        <!-- render : listPaginator -->
                    </ul>
                </nav>
            </div>
            <div class="col-2">
                <button class="btn btn-greenery" id="createBtn">Nutzer hinzufügen</button>
            </div>
        </div>
    </div>
    <!-- adminModal : delete -->
    <% include MODAL_adminDelete.ejs %>
    <!-- adminModal : edit -->
    <% include MODAL_adminEdit.ejs %>
    <!-- adminModal : create -->
    <% include MODAL_adminCreate.ejs %>
</section>