<section id="howItWorks">
    <div id="panelHeader" class="text-center">
        <h2>So einfach geht mieten!</h2>
        <div class="underline"></div>
    </div>
    <div id="panelMain">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-6">
                    <div class="panel">
                        <div class="panel-thumb">
                            <img src="images/graphic-tablet.svg" class="img-fluid  wow swing" data-wow-delay="1s">
                        </div>
                        <div class="panel-description">
                            <div class="panel-title">
                                <h5>Produkt wählen</h5>
                            </div>
                            <div class="panel-text">
                                <p>Wählen Sie Ihr Produkt aus unserem Produktportfolio</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="panel">
                        <div class="panel-thumb">
                            <img src="images/inspection.svg" class="img-fluid wow pulse" data-wow-delay="1.5s">
                        </div>
                        <div class="panel-description">
                            <div class="panel-title">
                                <h5>Produkt mieten</h5>
                            </div>
                            <div class="panel-text">
                                <p>Wählen Sie Ihre Mietlaufzeiten und bestellen Sie Ihr Wunschprodukt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="panel">
                        <div class="panel-thumb">
                            <img src="images/smile.svg" class="img-fluid wow shake" data-wow-delay="2s">
                        </div>
                        <div class="panel-description">
                            <div class="panel-title">
                                <h5>Spaß haben</h5>
                            </div>
                            <div class="panel-text">
                                <p>Gefällt Ihnen das Produkt? Wir freuen uns über Ihre Rückmeldung</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="panel">
                        <div class="panel-thumb">
                            <img src="images/box.svg" class="img-fluid wow pulse" data-wow-delay="2.5s">
                        </div>
                        <div class="panel-description">
                            <div class="panel-title">
                                <h5>Zurücksenden</h5>
                            </div>
                            <div class="panel-text">
                                <p>Nach der Nutzung das Produkt einfach zurücksenden!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="panelFooter">
        <button class="btn btn-greenery btn-lg" id="hiw_shop">Direkt zum Shop</button>
    </div>
</section>