<section id="providerPanel">
    <div class="container">
        <div class="row panelHead">
            <div class="col-6 panelTitle">
                <h4><i class="fas fa-user-tie"></i> Anbieter-Panel</h4>
                <div class="underline"></div>
            </div>
            <div class="col-6">
                <ul class="nav float-right">
                    <li class="nav-item">
                        <a class="nav-link">Produktliste</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row panelBody" id="provider_Product">
            <div class="col-12">
                <div class="col-12">
                    <div class="d-none" id="productList-Alert">
                        <button type="button" class="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div id="productList-Message"></div>
                    </div>
                </div>
                <table class="table table-hover text-center" id="productListTable">
                    <thead id="provider_productList">
                    <tr>
                        <th scope="col" class="w-10">ID</th>
                        <th scope="col" class="w-40">Name</th>
                        <th scope="col" class="w-15">Preis</th>
                        <th scope="col" class="w-15">Kategorie</th>
                        <th scope="col" class="w-20">Werkzeuge</th>
                    </tr>
                    </thead>
                    <!-- render : userList -->
                </table>
            </div>
            <div class="col-2">
            </div>
            <div class="col-8">
                <nav id="listFooter" aria-label="paginator">
                    <ul class="pagination justify-content-center" id="listPagination">
                        <!-- render : listPaginator -->
                    </ul>
                </nav>
            </div>
            <div class="col-2">
                <button class="btn btn-greenery" id="createBtn">Produkt hinzufügen</button>
            </div>
        </div>
    </div>
    <!-- providerModal : create -->
    <% include MODAL_providerCreate.ejs %>
    <!-- providerModal : delete -->
    <% include MODAL_providerDelete.ejs %>
    <!-- providerModal : edit -->
    <% include MODAL_providerEdit.ejs %>
</section>