<section id="shop">
    <div class="wrapper">
        <!-- sidebar - shop -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4>Produkte im Shop</h4>
            </div>
            <div id="categories">
                <h5><i class="fas fa-search"></i> Kategorien</h5>
                <ul class="list-unstyled catList">
                    <li id="Pen-Computer">
                        <span class="ShopMenu"><i class="far fa-square"></i> Pen-Computer</span>
                    </li>
                    <li id="Pen-Displays">
                        <span class="ShopMenu"><i class="far fa-square"></i> Pen-Displays</span>
                    </li>
                    <li id="Grafiktabletts">
                        <span class="ShopMenu"><i class="far fa-square"></i> Grafiktabletts</span>
                    </li>
                </ul>
            </div>
            <div id="provider">
                <h5><i class="fas fa-home"></i> Anbieter</h5>
                <ul class="list-unstyled prodList">
                    <li id="Wacom">
                        <span class="ShopMenu"><i class="far fa-square"></i> Wacom</span>
                    </li>
                    <li id="Huion">
                        <span class="ShopMenu"><i class="far fa-square"></i> Huion</span>
                    </li>
                    <li id="XP-Pen">
                        <span class="ShopMenu"><i class="far fa-square"></i> XP-Pen</span>
                    </li>
                    <li id="Gaomon">
                        <span class="ShopMenu"><i class="far fa-square"></i> Gaomon</span>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- content: products -->
        <div id="productList" class="container">
            <div id="products">
                <!-- placeholder for shopRenderings -->
            </div>
            <nav id="shopFooter" aria-label="paginator">
                <ul class="pagination justify-content-center" id="shopPagination">

                </ul>
            </nav>
        </div>
    </div>
</section>