#adminPanel {
    min-height: calc(100vh - 120px);
    max-height: calc(100vh - 120px);
    margin-top: 120px;
}

.panelTitle i {
    padding: 0.5em 0.6em;
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0 0 3px #88d6d6;
    margin: 0 10px 0 0;
}

#adminPanel .underline {
    position:relative;
    left: 54px;
    bottom: 10px;
    max-width: 300px;
    min-width: 200px;
    border-color: #88d6d6;
}

#adminPanel .container {
    border: 2px #000 solid;
}

.panelHead {
    padding: 24px 24px;
    background: #256f6e;
    color: #88d6d6;
}

.panelBody {
    padding: 24px 80px;
}

#adminPanel table {
    width: 100%;
    word-wrap:break-word;
    table-layout: fixed;
}

#adminPanel .w-10 {
    width: 10% !important;
}

#adminPanel .w-15 {
    width: 15% !important;
}

#adminPanel .w-20 {
    width: 20% !important;
}

#adminPanel .w-40 {
    width: 40% !important;
}

#updateBtn, #deleteBtn {
    cursor: pointer;
}
