/* import fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* general css */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 0.94em;
}

.underline {
    border-bottom:2px solid #143e3d;
}

h2 {
    color: #143e3d;
}

.btn-greenery {
    background-color: #256f6e;
    color: #88d6d6;
    transition: all .2s linear;
}

.btn-greenery:hover {
    color: #cfeeee;
    background-color: #38a0a1;
    transition: all .2s linear;
}

/* style: navMenu */

#navigation a, #navigation i {
    color: #88d6d6;
    transition: color .5s;
}

#navigation a:hover, #navigation i:hover {
    color: #cfeeee;
    transition: color .5s;
}

#navMenu .nav-link {
    font-size: 1.1em;
    padding: 10px 20px 0 20px;
}

#navSearch .nav-link {
    padding: 10px 0 0 0;
}

#navSearch {
    font-size: 1em;
}

#navSearch input {
    opacity: 0;
    max-width:0;
    transition: all .25s linear;
}

#navSearch .nav-link:hover input {
    max-width: 200px;
    transition: all .25s linear;
    opacity: 1;
    background: #256f6e;
    border: 1px #143e3d solid;
    color: #000;
}

#navSearch input:hover {
    background: #88d6d6 !important;
    transition: background-color .5s;
}

#navSearch input:focus {
    display:block;
    max-width: 200px;
    opacity: 1;
    background: #88d6d6 !important;
    border: 1px #143e3d solid;
    color: #000;
}

#navSearch ::placeholder {
    color: #143e3d;
}

#navIcons {
    font-size: 20px;
    cursor: pointer;
}

#navIcons li {
    margin: 10px 0 0 60px;
}

#navMenu {
    padding: 0 0 0 30px;
}

#navMenu li {
    padding: 0 40px 0 0;
}

.navbar-brand img {
    height:50px;
    width: auto;
}

.navbar {
    border-bottom: 2px solid #1c5657;
    background: #143e3d;
    color: #88d6d6;
}

#navigation .form-control {
    border-radius: 20px;
}

/* media query: teaser */

@media only screen and (max-width: 576px) {
    #teaserBox .caption-text p {
        font-size: 1em;
    }

    #teaserBox .caption-text h2 {
        font-size: 1.5rem
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    #teaserBox .caption-text p {
        font-size: 1.1em;
    }

    #teaserBox .caption-text h2 {
        font-size: 1.7rem
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    #teaserBox .caption-text p {
        font-size: 1.15em;
    }

    #teaserBox .caption-text h2 {
        font-size: 1.9rem
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    #teaserBox .caption-text p {
        font-size: 1.2em;
    }

    #teaserBox .caption-text h2 {
        font-size: 2rem
    }
}

@media only screen and (min-width: 1201px) {
    #teaserBox .caption-text p {
        font-size: 1.3em;
    }

    #teaserBox .caption-text h2 {
        font-size: 2rem
    }
}

/* style teaser */

#teaserBox img {
    max-height: 100vh;
    min-height: 100vh;
    object-fit: cover; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
}

.carousel-indicators {
    display: none;
}

.carousel-caption {
    background-color: rgba(37,111,110,.9) !important;
    color: #88d6d6;
    text-shadow: 1px 1px 2px #143e3d;
    width:100%;
    position:absolute;
    height: 30vh;
    left:0;
    bottom:0;
    text-align: left;
}

.carousel-caption .caption-text h2 {
    padding: 2vh 0;
    color: #88d6d6;
}

.carousel-control-next-icon {
    background-image: url("../images/chevron-right.svg");
    height:46px;
    width: 100%;
    margin: 0 0 25vh 0;
    opacity: .7 !important;
}

.carousel-control-prev-icon {
    background-image: url("../images/chevron-left.svg");
    height:46px;
    width: 100%;
    margin: 0 0 25vh 0;
    opacity: .7 !important;
}

.caption-text {
    margin: 0 10vw;
    max-width: 1300px;
}

/* style panelside */

/* media query: teaser */

@media only screen and (min-width: 1000px) {
    #productDetails .wrapper {
        min-height: calc(100vh - 78px);
        max-height: calc(100vh - 78px);
    }

    #cart {
        min-height: calc(100vh - 78px);
        max-height: calc(100vh - 78px);
    }
}

#howItWorks {
    margin: 40px 0 60px 0;
}

#panelHeader {
    padding:40px 0 50px 0;
}

#panelHeader .underline {
    width:250px;
    margin:0 auto;
}

#panelMain {
    background: #256f6e;
    padding: 20px 0;
    color: #88d6d6;
}

#panelMain h5 {
    font-weight: bold;
}

#panelMain .panel-text {
    font-size: 1.2em;
}

#panelMain .container {
    margin:0 auto;
    text-align:center;
}

#panelMain .panel {
    min-height:300px;
}

.panel-thumb {
    margin: 2vh 0;
}

.panel-thumb img {
    max-height:150px;
}

.panel-title {
    margin: 40px 0 0 0;
}

#panelFooter {
    text-align:center;
    padding: 50px 0 0 0;
    margin: 0 0 40px 0;
}

/* shop wrapper, productList */

#shop {
    background: rgba(37,111,110, .05);
}

#shop .wrapper {
    display: flex;
    align-items: stretch;
}

@media only screen and (max-width: 599px) {
    #shop #sidebar, #productDetails #sidebar {
        background: #256f6e;
        width:100%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 899px) {
    #shop #sidebar, #productDetails #sidebar {
        min-width: 200px;
        max-width: 200px;
        background: #256f6e;
    }
}
@media only screen and (min-width: 900px) {
    #shop #sidebar, #productDetails #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #256f6e;
    }
}

#shop #sidebar h4 {
    color: #88d6d6;
    margin: 20px 0 0 20px;
}

#productList #products {
    min-height: 80%;
}

#shop #sidebar #categories {
    margin: 20px 0;
    padding: 20px 0 0 0;
    border-top: 2px solid #143e3d;
}

#shop #sidebar #categories li, #shop #sidebar #provider li {
    background: #1c5657;
    border: 1px #143e3d solid;
    padding: 10px 0;
    color: #38a0a1;
    transition: all .2s linear;
    cursor: pointer;
}

.ShopMenu {
    padding: 0 0 0 20px;
}

#shop #products {
    padding: 40px 0 0 0;
}

#shop #sidebar #categories li i, #shop #sidebar #provider li i {
    padding: 0 10px;
}

#shop #sidebar #categories li:hover, #shop #sidebar #provider li:hover {
    background: #38a0a1;
    color: #cfeeee;
    transition: all .2s linear;
}

#shop #sidebar #categories h5, #shop #sidebar #provider h5 {
    margin: 0 0 20px 20px;
    color: #88d6d6;
}

#shop .active {
    background: #38a0a1 !important;
    color: #cfeeee !important;
}

#shop .article-image img {
    max-height:100px;
}

#shop .article-title {
    margin: 10px 0 40px 0;
    padding: 0 20px;
}

#shop #priceFilter {
    color: #88d6d6;
}

#shop #priceFilter input {
    border-radius: 4px;
    background: #1c5657;
    border: 1px #143e3d solid;
    margin: 0 0 0 4px;
    color: #cfeeee;
    text-align: center;
    transition: all .2s linear;
}

#shop #priceFilter input::placeholder {
    text-align: center;
    color: #38a0a1;
}

#shop #priceFilter input:focus {
    background: #38a0a1;
    transition: all .2s linear;
}

#shop #priceFilter li {
    padding: 10px 0 0 0;
}

#shopFooter {
    margin: 0 0 40px 0;
}

.pagination span {
    color: #143e3d;
}

.pagination a:hover {
    color: #38a0a1;
}

.page-item.active .page-link {
    color: #cfeeee;
    background-color: #256f6e;
    border: #256f6e 1px solid;
}

.article-image :hover {
    border: 2px #143e3d solid;
}

.article-text :hover {
    color: #1c5657;
}

#shop .article {
    cursor: pointer;
}

/* modal login/register */

#userForm #register-Form p {
    margin: 4px 0;
}

#userForm .input-group-text {
    background: #256f6e;
    color: #88d6d6;
}

#userForm #loginForm {
    padding: 24px 0 0 0;
}

#userForm .modal-header {
    background: #256f6e;
    border-bottom: 2px #143e3d solid;
    padding: 0;
}

#userForm .modal-content {
    border: 2px #143e3d solid;
    background: transparent;
}

#userForm .modal-header .col-6 h5 {
    padding: 20px;
    background: #143e3d;
    color: #88d6d6;
    transition: all .2s linear;
    cursor:pointer;
}


#userForm .modal-header .col-6 h5:hover {
    background: #256f6e;
    color: #cfeeee;
    transition: all .2s linear;
}

#userForm .modal-header .col-6 {
    padding: 0;
}

#userForm .modal-body {
    background: #fff;
}

#userForm .active {
    background: #256f6e !important;
}

/* productDetails */

#productDetails .wrapper {
    display: flex;
    align-items: stretch;
}

.rent-Time p {
    margin: 10px 0 0 0;
    padding: 6px;
    background-color: #38a0a1;
    border-radius: 2px;
    cursor: pointer;
    transition: all .2s linear;
}

.rent-Time p:hover {
    background-color: #88d6d6;
    color: #143e3d;
    transition: all .2s linear;
}

.rent-Time {
    margin: 0 0 20px 0;
}

.rent-Time .active, .rent-WLength .active, .rent-MLength .active {
    background: #88d6d6;
}

.rent-WLength, .rent-MLength {
    margin: 10px 0;
    position: relative;
    z-index: 2;
}

.rent-WLength p, .rent-MLength p {
    height: 40px;
    width: 40px;
    padding: 10px;
    margin: 0 2px;
    border-radius: 50%;
    background: #38a0a1;
    color: #143e3d;
    cursor: pointer;
    transition: all .2s linear;
}

.rent-WLength p:hover, .rent-MLength p:hover {
    background: #88d6d6;
    color: #143e3d;
    transition: all .2s linear;
}

#productRentTime .underline {
    width: 150px;
    position:relative;
    left: 50px;
    bottom: 30px;
    z-index: 1;
}

#productDetails .wrapper {
    display: flex;
    align-items: stretch;
}

#productDetails #sidebar h4 {
    color: #88d6d6;
    margin: 20px 0 0 20px;
}

#productDetails #rent-Amount input {
    width: 60px;
    margin: 10px auto;
}

#productPrice {
    margin: 20px 0 0 0;
    border-bottom: 2px #143e3d solid;
}

#productPrice h5 {
    color: #143e3d;
    font-weight: bold;
    background: #88d6d6;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

#productPrice p {
    margin: 20px 0;
    color: #88d6d6;
}

#productDetails #productRentTime {
    padding: 20px 0;
    border-bottom: 2px solid #143e3d;
}

#productDetails #productRentTime h5 {
    color: #88d6d6;
}

#productDetails #rent-Amount {
    padding: 20px 0;
    color: #88d6d6;
    font-weight: bold;
}

#productDetails #rent-Buttons {
    padding: 0 12px;
}

#productDetails #rent-Buttons button {
    margin: 4px 0;
    padding: 10px 16px;
    background: #38a0a1;
    color: #143e3d;
    width: 228px;
    text-align: left;
}

#productDetails #rent-Buttons button:hover {
    color: #1c5657;
    background: #88d6d6;
}

@media screen and (max-width:800px) {
    #productDetails .btn-greenery {
        max-width: 180px;
        min-width: 140px;
        font-size: 1em;
    }
}

#productDetails .btn-greenery i {
    padding: 0 6px 0 0;
}

#productDetails #article-Head {
    padding: 40px 0 0 0;
}

#article-Head .row {
    padding: 0 50px;
}

#article-Description h4 {
    margin: 0 0 10px 0;
}

#article-Description .underline {
    width: 30vw;
}

#article-Description p {
    padding: 30px 0;
}

#article-Details {
    overflow-y: scroll;
}

#article-Rating {
    padding: 10px 0;
}

#article-Navigation button {
    font-size: 0.9em;
}

#article-Body {
    border-top:1px solid #143e3d;
    margin: 10px 0;
    padding: 20px 0 0 0 !important;
}

#article-NavMenu {
    margin: 10px 40px;
}

#article-NavMenu li {
    padding: 10px;
    border: 1px #143e3d solid;
}

#article-NavMenu li i {
    padding: 0 10px 0 20px;
}

.article-Rating-Amount {
    margin: 10px 0;
}

#article-Image img {
    max-height:220px;
    transition: transform .2s;
}

#article-Image img:hover{
    transform: scale(1.7);
    top:60px;
    left:30px;
    position:relative;
    z-index:10;
}

#article-Rating, .article-Rating-Amount {
    color: #ffd700;
}

#article-Rating span {
  /*  text-shadow: -1px 0 #ccac00, 0 1px #ccac00, 1px 0 #ccac00, 0 -1px #ccac00; */
    font-size: 1.3em;
    padding: 0 6px;
}

.article-Rating-Amount {
    font-size: 1em
}

/* cart */



#cart-Product {
    margin: 40px 0;
    border: 1px rgba(0,0,0, .2) solid;
    padding: 30px;
}

#cart-Product p {
    padding: 50px 0;
    font-size: 1.4em;
}

#cart #cartIcons i {
    display: inline-block;
    box-shadow: 0 0 2px #143e3d;
    color: #143e3d;
    border-radius: 60px;
    padding: 0.6em 0.6em;
    font-size: 2em;
    background: #fff;
}

#cart #cartIcons .active {
    background: #256f6e;
    color: #88d6d6;
}

#cartIcons {
    position:relative;
    padding: 60px 0;
    z-index: 3;
}

#cart .underline {
    position:relative;
    top: -90px;
    width: 80%;
    margin: 0 auto;
}

/* aboutUs */

.container-fluid {
    padding: 0 auto;
}

#aboutHead {
    padding: 30px 0;
}

#aboutHead i {
    display: inline-block;
    box-shadow: 0 0 2px #143e3d;
    color: #143e3d;
    border-radius: 60px;
    padding: 0.6em 0.5em;
    font-size: 1em;
    background: #fff;
    margin: 0 4px 0 0;
}

#aboutus .container {
    padding: 0;
}

#aboutus .underline {
    width: 20%;
    position:relative;
    left: 80px;
    bottom: 48px;
}

#aboutus #aboutImage, #aboutus #aboutText {
    margin: auto 0;
}

#aboutus #aboutImage img {
    max-height: 270px;
    height: 260px;
    width: auto;
    border: 0;
    object-fit: scale-down;
}

#aboutus #aboutText h4 {
    font-style: italic;
    padding: 0 0 40px 0;
}

#aboutus #aboutText p {
    font-size: 1.2em;
}

#firm {
    background: #256f6e;
    padding:20px 40px;
}

#firm .col-2 {
    margin: auto 0;
}

#firm img {
    position:relative;
    max-height: 140px;
    height: 140px;
    min-height: 40px;
    width: auto;
    padding: 0 20px;
    object-fit: scale-down;
    cursor: pointer;
}

#firm i {
    color: #88d6d6;
    font-size:5em;
    cursor: pointer;
}

#aboutBody, #aboutHead {
    margin: 0;
}

#aboutBody {
    margin: 20px 0 70px 0;
}

/* contact */

#contact {
    padding: 30px 0;
    margin: 40px 0;
}

#contact i {
    display: inline-block;
    box-shadow: 0 0 2px #143e3d;
    color: #143e3d;
    border-radius: 60px;
    padding: 0.6em 0.5em;
    font-size: 1em;
    background: #fff;
    margin: 0 10px 0 0;
}

#contact .underline {
    width: 20%;
    position:relative;
    left: 74px;
    bottom: 18px;
}

#contact-Form {
    margin: 20px 0;
}

#contact-Form label {
    margin: 0 0 10px 0;
}

#contact-Form input {
    margin: 0 0 20px 0;
}

#contact-Form span {
    color: red;
}

#contact-Form .row .col-lg-7 {
    padding: 0 30px 0 30px;
}

#contact-Form button {
    margin: 30px 0 0 0;
}

#contact-MessageBox {
    height: 290px;
}

/* footer */

#footer .container-fluid {
    background: #143e3d;
    color: #88d6d6;
    min-height: 140px;
    font-size: 1.2em;
}

#footer span {
    padding: 0 20px;
    cursor: pointer;
    transition: all .2s linear;
}

#footer span:hover {
    color: #cfeeee;
    transition: all .2s linear;
}

#footer-Links {
    padding: 50px 40px;
}

#footer-Newsletter {
    padding: 20px 0;
}

#footer-Newsletter button {
    background: #143e3d;
    color: #88d6d6;
    border: 1px #88d6d6 solid;
    height: 40px;
    position:relative;
    right:10px;
    width: 40px;
    bottom: 1px;
}

#footer-Newsletter input {
    padding: 0 20px 0 0;
    height:40px;
    text-indent: 10px;

}

#footer-SocialMedia {
    padding: 40px 0 0 0;
    font-size: 2em;
}

#footer-SocialMedia i {
    padding: 0 10px;
}
