/*import fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}
#aboutHead h1{
    text-decoration-line: underline;
}
.hidden{
    display: none;
}
#aboutBody{
    min-height: 320px;
}
#aboutHead, #aboutImage{
    padding: 10px;
}
#aboutInput{
    padding: 40px;
}
#aboutText{
    padding: 10px 0 0 40px ;
}
#firm{
    background-color: #256f6e;
    padding: 20px;
    text-align: center;
    vertical-align: center;
    margin: 40px 0 0 0;
}
#firm i {
    font-size: 100px;
}
#aboutImage img {
    max-width: 250px;
}
#logo-Input img {
 max-width: 500px;
}
#aboutus-Text h3{
    padding: 10px;
}
