

#anbieter{
    margin:50px;
}
#product-name{
    width:300px;
    font-size:20px;
    height: 200px;
}

#technical-details{
    width:300px;
    font-size:20px;
    height: 200px;
}

#product-description{
    width:300px;
    font-size:20px;
    height: 200px;
}

h1 {
    text-decoration-line: underline;
    color: #003d38;
    font-size: 40px;
}

 h2{
     font-size: 30px;
 }

#name{
    width:200px;
    height: 35px;
    font-size:12px;
    float: right;
}

#address {
    width: 200px;
    height: 35px;
    font-size: 12px;
    float: right;
}

#tel{
    width:200px;
    height: 35px;
    font-size:12px;
    float: right;
}

#e-mail{
    width:200px;
    height: 35px;
    font-size:12px;
    float: right;
}

#price{
    height:35px;
    width:200px;
    font-size: 12px;
    float:right;
}
#upload_content{
    float:right;
    background: #003d38;
}

#save{
    float:right;
    background:#003d38;
    margin-right:10px;
}
#download_content{
    float:right;
    background:#003d38;
    margin-right:10px;
}

#delete_content{
    float:right;
    background:#003d38;
}

.modal-content{
    width:100%;
    height:700px;
}