/*import fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}
.hidden{
    display: none;
}
#faqHead h1{
    text-decoration-line: underline;
}
.mietenBlock{
    padding: 20px;
}
.mietenBlock h2{
    margin: 0;
}
.questionBlock1,.questionBlock2,.questionBlock3{
    padding-left: 2%;
    margin: 2% 0;
    width: 95%;
}
.questionBlock h4{
    margin: 0;
}
.questionAusgabe{
    padding-left: 2%;
    width: 100%;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
}
.dropdown-ausgabe {
    padding-left: 2%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dropdown-ausgabe > h2{
    margin: 0;
}
.inButton i{
    font-size: 40px;
    color: #88d6d6;
}
.inButton{
    background-color: #256f6e;
    border-color: #38a0a1;
    width: 15%;
}
