#AbschickenButton{
    background: #003d38;
    color:#88d6d6;
}
#form_kontakt{
    height:340px;
    width:300px;

}
#footer{
    position: fixed;
    background: #003d38;
    height:150px;
    bottom:0;
    width:100%;
    color:#88d6d6;


}
#facebook{
    float: right;
    color: #88d6d6;
    font-size: 40px;
}
#twitter{
    float:right;
    color: #88d6d6;
    font-size: 40px;
}
#instagram{
    float:right;
    color: #88d6d6;
    font-size: 40px;
}

#mail{
color:#88d6d6;
}
#üu{
    float:left;
    font-size: 20px;
    color:#88d6d6;
}
#up{
    float:left;
    font-size: 20px;
    color:#88d6d6;
}
#fb{
    float:right;
    font-size: 40px;
    color:#88d6d6;
}
#tw{
    float:right;
    font-size: 40px;
    color:#88d6d6;
}
#insta{
    float:right;
    font-size:40px;
    color:#88d6d6;
}
#news{
    font-size: 20px;
    color:#88d6d6;

}
.btn{
    background: #003d38;
    color:#88d6d6;
    font-size: 15px;
    border-color: #88d6d6;
    border-width:1px;
}

h1 {
  text-decoration-line: underline;
    color: #003d38;
}
#form_kontakt{
    text-combine-upright: all ;
}